@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Commander</h1>
    <p>This application is a deveopler tool that allows the abilty to create update and delete commands used daily.</p>
</div>
